@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  margin: 0;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.logo-bar {
    padding: 5px 25px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#build {
  display: flex;
  flex-direction: column;
  justify-content: center space-evenly;
  align-items: center;
  background-color: rgba(232, 217, 217, 0.3);
  margin: 0 auto;
  padding: 75px 0;
}

.logo {
  height: 30px;
}

.search-bar {
  background: #eee;
  display: inline-flex;
  flex-direction: row;
  flex: 1 1 300px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.search-bar-icon {
  padding: 0.5rem;
  height: 20px;
}

.search-bar-input {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  outline: 0;
  background-color: transparent;
}

.search-bar-button {
  background: #fb3b49;
  border: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
}

.join-button {
    color: #000;
    border-radius: 1px;
    border: 1px #828282 solid;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0px 10px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
}

.login-button {
    color: #000;
    font-size: 0.8em;
    margin: 0px 10px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin: 0;
}

#build article {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#build article,
.build-buttons {
  width: 420px;
}

.build-buttons {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}

.build-buttons a {
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 50px;
}

.see-plans {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
}

.join-for-free {
  color: black;
}

#bring {
  display: flex;
  flex-direction: column;
  justify-content: center space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 75px 0;
}

#bring img {
  height: 100px;
}

#bring article {
  width: 800px;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  padding-right: 40px;
  padding-left: 40px;
}

#create {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 75px;
}

.element-box {
  box-sizing: border-box;
  padding: 20px;
  width: 25%;
}

.element-box img {
    height: 30px;
}

.element-box h3 {  
    color: #fb3b49;
}

.create-org {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 100px;
  margin: 0 auto 8px;
  display: inline-block;
}
